@import "tailwindcss";

html {
    font-family: 'Source Sans 3', sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}

.header {
    position: relative;
    justify-content: center;
    min-width: 100%;
    padding: 1rem 0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.footer{
    position: fixed;
    justify-content: center;
    background-color: white;
    padding: 5px 0;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}



/* Will the following be used? */

.link {
    color: #3b82f6; /* Tailwind's blue-500 color */
}

.link:hover {
    color: #1d4ed8; /* Tailwind's blue-700 color */
}

.sbf {
    font-weight: 600; /* font-semibold */
}

.bf {
    font-weight: 700; /* font-bold */
}

.carousel {
    margin-top: 1rem;
    max-width: 90%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.carousel-images {
    display: flex;
    animation: slide 15s infinite ease;
}

.carousel-images img {
    object-fit: cover;

    /* Force smoother rendering */
    transform: translateZ(0); /* Hardware acceleration */
    image-rendering: high-quality; /* Works in some browsers */
    filter: blur(0.001px); /* Triggers better rendering in some browsers */
}


@keyframes slide {
    0%, 20% { transform: translateX(0); }  /* Pause at Image 1 */
    30%, 50% { transform: translateX(-100%); } /* Pause at Image 2 */
    60%, 80% { transform: translateX(-200%); } /* Pause at Image 3 */
    90%, 100% { transform: translateX(0); } /* Back to Image 1 */
}


/* Project Table */
.project-table {
    display: flex; /* flex */
    width: 100%; /* w-full */
    max-width: 72rem; /* 6xl */
    padding: 1rem; /* p-4 */
    border-bottom: 1px solid #e5e7eb; /* border-gray-200 */
}

.project-title-column {
    width: 33.333333%; /* w-4/12 */
}

.project-title {
    font-size: 1.25rem; /* text-xl */
    font-weight: 700; /* font-bold */
    margin-bottom: 0.25rem; /* mb-1 */
    color: #1f2937; /* text-gray-800 */
}

.project-keywords {
    font-size: 0.875rem; /* text-sm */
    color: #4b5563; /* text-gray-600 */
    /*font-variant: small-caps; !* small-caps *!*/
    margin-bottom: 0.25rem; /* mb-1 */
}

.project-calltoaction {
    font-size: 0.875rem; /* text-sm */
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.25rem; /* mb-1 */
}

.project-grade {
    font-size: 0.875rem; /* text-sm */
    font-variant: small-caps; /* small-caps */
    color: #4b5563; /* text-gray-600 */
    font-weight: 600; /* font-semibold */
}

.project-description-column {
    width: 66.666667%; /* w-8/12 */
    padding-left: 1.25rem; /* pl-5 */
}

.project-description {
    color: #1f2937; /* text-gray-800 */
}


/* Experience Table */
.experience-table {
    display: flex; /* flex */
    width: 100%; /* w-full */
    max-width: 72rem; /* 6xl */
    padding: 1rem; /* p-4 */
    border-bottom: 1px solid #e5e7eb; /* border-gray-200 */
}

.experience-title-column {
    width: 33.333333%; /* w-4/12 */
}

.experience-title {
    font-size: 1.25rem; /* text-xl */
    font-weight: 700; /* font-bold */
    color: #1f2937; /* text-gray-800 */
}

.experience-subtitle {
    font-size: 1rem; /* text-xl */
    font-weight: 500; /* font-bold */
    margin-bottom: 0.5rem; /* mb-1 */
    color: #1f2937; /* text-gray-800 */
}

.experience-subsubtitle {
    font-size: 0.875rem; /* text-sm */
    color: #4b5563; /* text-gray-600 */
    margin-bottom: 0.25rem; /* mb-1 */
}

.experience-description-column {
    width: 66.666667%; /* w-8/12 */
    padding-left: 1.25rem; /* pl-5 */
}

.experience-description {
    color: #52525BFF; /* text-gray-600 */
}