@import "tailwindcss";

html {
    font-family: 'Source Sans 3', sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}

.header {
    position: relative;
    justify-content: center;
    min-width: 100%;
    padding: 1rem 0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.footer{
    position: fixed;
    justify-content: center;
    background-color: white;
    padding: 5px 0;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}